<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="CSS/estilo.css">
    <link rel="stylesheet" href="CSS/Produtos/produtos.css">
    <title>Produtos</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>Produtos</li>
                <li>Receitas</li>
                <li>Grandezas</li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="container-produtos">

            <div class="produto">
                <div class="img-produto">
                    <img src="images/download.jpeg">
                </div>
                <div class="txt-produto">
                    <p>Pão Francês</p>
                </div>
            </div>

            <div class="produto">
                <div class="img-produto">
                    <img src="images/download.jpeg">
                </div>
                <div class="txt-produto">
                    <p>Pão Francês</p>
                </div>
            </div>

            <div class="produto">
                <div class="img-produto">
                    <img src="images/download.jpeg">
                </div>
                <div class="txt-produto">
                    <p>Pão Francês</p>
                </div>
            </div>

            <div class="produto">
                <div class="img-produto">
                    <img src="images/download.jpeg">
                </div>
                <div class="txt-produto">
                    <p>Pão Francês</p>
                </div>
            </div>

            <div class="produto">
                <div class="img-produto">
                    <img src="images/download.jpeg">
                </div>
                <div class="txt-produto">
                    <p>Pão Francês</p>
                </div>
            </div>

            <div class="produto">
                <div class="img-produto">
                    <img src="images/download.jpeg">
                </div>
                <div class="txt-produto">
                    <p>Pão Francês</p>
                </div>
            </div>

            <div class="produto">
                <div class="img-produto">
                    <img src="images/download.jpeg">
                </div>
                <div class="txt-produto">
                    <p>Pão Francês</p>
                </div>
            </div>

            <div class="produto">
                <div class="img-produto">
                    <img src="images/download.jpeg">
                </div>
                <div class="txt-produto">
                    <p>Pão Francês</p>
                </div>
            </div>

            <div class="produto">
                <div class="img-produto">
                    <img src="images/download.jpeg">
                </div>
                <div class="txt-produto">
                    <p>Pão Francês</p>
                </div>
            </div>

            <div class="produto">
                <div class="img-produto">
                    <img src="images/download.jpeg">
                </div>
                <div class="txt-produto">
                    <p>Pão Francês</p>
                </div>
            </div>

            <div class="novo-produto">
                <div class="img-novo-produto">
                    <img src="images/botao-mais.png">
                </div>
            </div>

        </section>
    </main>
</body>
<script src="JS/script-produtos.js"></script>

</html>